<!-- Главный экран  -->
<section id="hero" class="hero">
    <div class="background-hero"></div>
    <div class="container">
        <div class="hero__content">
            <div class="grid-group">
                <div class="grid-child" data-grid="4">
                    <h1 class="title-hero regular white">Национальная приводная компания</h1>
                </div>
                <div class="grid-child" data-grid="4">
                    <p>C момента своего основания НПК определила амбициозную миссию — предоставление передовых технологических решений, которые не только соответствуют высоким стандартам качества, но и полностью удовлетворяют потребности клиентов.</p>
                </div>
                <div class="grid-child" data-grid="4">
                    <p>Компания ставит перед собой задачу стать надежным партнером для промышленных предприятий, предлагая не только высококачественные продукты, но и комплексную поддержку на всех этапах взаимодействия — от выбора оборудования до его обслуживания.</p>
                </div>
            </div>
            <div class="hero__footer">
                <button class="button link">
                    <span>подробнее</span>
                    <svg viewBox="0 0 26 26" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7146 23.0511L0.277344 2.61382L2.16729 0.723877L22.6046 21.1611L22.6045 6.56889L25.2773 6.56889L25.2773 25.7239L6.12239 25.7238L6.1224 23.051L20.7146 23.0511Z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>