<!-- Основные достиженияи  -->
<section class="section stream achievements">
    <div class="container">
        <div class="section__header">
            <h2 class="title">Основные достиженияи <br>и направления деятельности</h2>
        </div>
        <div class="section__body">
            <div class="grid-group">
                <div class="grid-child" data-grid="4">
                    <div class="card-column border-left auto">
                        <div class="card-column__header">
                            <h4>Разработка <br>уникальных продуктов</h4>
                        </div>
                        <div class="card-column__body">
                            <p>Компания сосредоточилась на создании продуктов, превосходящих аналоги на рынке. Это привело к появлению двух инновационных решений — SYNTHESIS X-TREME и SYNTHESIS. Эти устройства обладают улучшенными техническими характеристиками, такими как повышенная защита от пыли и влаги, а также способность работать при отрицательных температурах, что позволяет использовать их в экстремальных условиях эксплуатации.</p>
                        </div>
                    </div>
                </div>
                <div class="grid-child" data-grid="4">
                    <div class="card-column border-left auto">
                        <div class="card-column__header">
                            <h4>Повышение <br>эффективности</h4>
                        </div>
                        <div class="card-column__body">
                            <p>Высокая надежность продукции позволяет клиентам значительно оптимизировать свои производственные процессы и снижать затраты на эксплуатацию, что является важным конкурентным преимуществом компании.</p>
                        </div>
                    </div>
                </div>
                <div class="grid-child" data-grid="4">
                    <div class="card-column border-left auto">
                        <div class="card-column__header">
                            <h4>Локализация <br>производства</h4>
                        </div>
                        <div class="card-column__body">
                            <p>Понимая важность адаптации к местным условиям и тенденциям рынка, компания приняла стратегическое решение сосредоточиться на углублении локализации производства частотных преобразователей в России. Этот шаг направлен на улучшение доступности продукции для отечественных потребителей и способствует созданию новых рабочих мест в стране.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>