<!-- Продукты  -->
<section class="section stream black" data-stream-size="90">
    <div class="container">
        {% if products.title %} 
        <div class="section__header">
            <h2 class="title white">{{ products.title }}</h2>    
        </div>
        {% endif %}
        {% if products.products %}
        <div class="section__body">
            <div class="grid-group">
                {% for product in products.products %}
                    {% if product.title or product.image_desktop %}
                        <div class="grid-child" data-grid="4">
                            <div class="card auto">
                                <div class="card__header">
                                    {% if product.title %}
                                    <a href="{{ product.button_url }}"><h5>{{ product.title }}</h5></a>
                                    {% endif %}
                                </div>
                                {% if product.image_desktop %}
                                <div class="card__body">
                                    <div class="card__img">
                                        <img loading="lazy" src="{{ product.image_desktop }}" alt="{{ product.image_alt if product.image_alt is not none else '' }}">
                                    </div>
                                </div>
                                {% endif %}
                                <div class="card__button">
                                    <svg viewBox="0 0 46 37" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M27.3704 0.666687L45.2197 18.6665L27.3704 36.6667L25.4954 34.7759L40.1439 20.0036H0.219727V17.3295H40.1439L25.4954 2.55753L27.3704 0.666687Z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</section>