<!-- Основные достиженияи  -->
<form class="section stream achievements" data-section="1">
    <div class="container">
        <fieldset class="section__header">
            <textarea name="section" id="section_01" class="title">{{ section_achievements.title }}</textarea>
        </fieldset>
        <div class="section__body">
            <div class="grid-group">
                {% for achievement in section_achievements.achievements %}
                <fieldset class="grid-child" data-grid="4" data-table="achievements" data-id={{ achievement.id }}>
                    <div class="card-column border-left auto">
                        <div class="card-column__header">
                            <div name="title" data-field="title" contenteditable="true">{{ achievement.title }}</div>
                        </div>
                        <div class="card-column__body">
                            <div name="description" data-field="description" contenteditable="true">{{ achievement.description }}</div>
                        </div>
                    </div>
                </fieldset>
                {% endfor %}
            </div>
        </div>
        <!-- <div class="section__footer">
            <button class="button" type="submit">Сохранить</button>
        </div> -->
    </div>
</form>

