<!-- Продукты  -->
<section class="section stream black" data-stream-size="90" data-table="sections" data-id="{{ products.id }}">
    <div class="container">
        <div class="section__header">
            <div data-field="title" class="title white" contenteditable="true">
                {% if products.title %} {{ products.title }}
                {% else %} <small>Здесь пока пусто...</small>
                {% endif %}
            </div>
        </div>
        <div class="section__body">
            <div class="grid-group">
                {% for product in products.products %}
                <div class="grid-child" data-grid="4" data-table="{{ product.table_name }}" data-id="{{ product.id }}">
                    <div class="card auto">
                        <!-- Форма для загрузки изображения -->
                        {% if not product.image_desktop %}
                            <div class="attach-images">
                                <form class="js-upload-image" enctype="multipart/form-data">
                                    <fieldset>
                                        {% if not product.image_desktop %}
                                            <label for="image_desktop">
                                                <input type="radio" name="image_type" value="image_desktop" checked>
                                                <small>Тип ПК</small>
                                            </label>
                                        {% endif %}
                                            <label for="image">
                                                <input type="file" name="image" accept="image/jpeg, image/png, image/svg+xml, image/webp">
                                            </label>
                                    </fieldset>
                                    <button class="button small" type="submit">Сохранить</button>
                                </form>
                            </div>
                        {% endif %}
                        <div class="card__header">
                            <a href="{{ product.button_url }}" data-field="title" contenteditable="true">
                                {% if product.title %} {{ product.title }}
                                {% else %} <small>Здесь пока пусто...</small>
                                {% endif %}
                            </a>
                        </div>
                        <div class="card__body">
                            <!-- Блок для отображения прикрепленных изображений -->
                            <div class="attached-images">
                                {% if product.image_desktop %}
                                    <div class="js-image-alt">
                                        <small>Зачение атрибута alt</small>
                                        <div data-field="image_alt" contenteditable="true">
                                            {% if product.image_alt %} {{ product.image_alt }}
                                            {% else %} alt не указан
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if product.image_desktop %}
                                    <figure class="card__img">
                                        <img loading="lazy" src="{{ product.image_desktop }}">
                                        <figcaption>Картинка ПК</figcaption>
                                    </figure>
                                    <button 
                                        class="js-update-image"
                                        data-type="image_desktop"
                                        data-action="image_delete"
                                        data-src="{{ product.image_desktop }}">Удалить
                                    </button>
                                    <button 
                                        class="js-update-image"
                                        data-type="image_desktop"
                                        data-action="image_refresh"
                                        data-src="{{ product.image_desktop }}">Заменить
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card__button">
                            <svg viewBox="0 0 46 37" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M27.3704 0.666687L45.2197 18.6665L27.3704 36.6667L25.4954 34.7759L40.1439 20.0036H0.219727V17.3295H40.1439L25.4954 2.55753L27.3704 0.666687Z" />
                            </svg>
                        </div>
                        <div class="card-column__footer">
                            <button class="button small red js-delete-instance">Удалить карточку</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="grid-child" data-grid="4">
                    <div class="card-column auto">
                        <button class="button add-instance js-add-instance" data-table="products">Добавить экземпляр</button>
                    </div>
                </div>
                <!-- <div class="grid-child" data-grid="4">
                    <div class="card auto">
                        <div class="card__header">
                            <a href="#">
                                <h5>Преобразователь <br>частоты <br>IP20 серия SV</h5>
                            </a>
                        </div>
                        <div class="card__body">
                            <div class="card__img">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="/static/landing/img/svg/svg-product-mobile-01.svg" type="image/svg+xml">
                                    <source media="(min-width: 481px)" srcset="/static/landing/img/svg/svg-product-desktop-01.svg" type="image/svg+xml">
                                    <img loading="lazy" src="/static/landing/img/svg/svg-product-desktop-01.svg" alt="Преобразователь частоты IP20 серия SV">
                                </picture>
                            </div>
                        </div>
                        <div class="card__button">
                            <svg viewBox="0 0 46 37" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M27.3704 0.666687L45.2197 18.6665L27.3704 36.6667L25.4954 34.7759L40.1439 20.0036H0.219727V17.3295H40.1439L25.4954 2.55753L27.3704 0.666687Z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="grid-child" data-grid="4">
                    <div class="card auto">
                        <div class="card__header">
                            <a href="#">
                                <h5>Преобразовател <br>частоты <br>IP67 SYNTHESIS X-TREME</h5>
                            </a>
                        </div>
                        <div class="card__body">
                            <div class="card__img">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="/static/landing/img/svg/svg-product-mobile-02.svg" type="image/svg+xml">
                                    <source media="(min-width: 481px)" srcset="/static/landing/img/svg/svg-product-desktop-02.svg" type="image/svg+xml">
                                    <img loading="lazy" src="/static/landing/img/svg/svg-product-desktop-02.svg" alt="Преобразовател частоты IP67 SYNTHESIS X-TREME">
                                </picture>
                            </div>
                        </div>
                        <div class="card__button">
                            <svg viewBox="0 0 46 37" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M27.3704 0.666687L45.2197 18.6665L27.3704 36.6667L25.4954 34.7759L40.1439 20.0036H0.219727V17.3295H40.1439L25.4954 2.55753L27.3704 0.666687Z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="grid-child" data-grid="4">
                    <div class="card auto">
                        <div class="card__header">
                            <a href="#">
                                <h5>Электродвигатель <br>+ преобразователь частоты <br>SYNTHESIS</h5>
                            </a>
                        </div>
                        <div class="card__body">
                            <div class="card__img">
                                <picture>
                                    <source media="(max-width: 480px)" srcset="/static/landing/img/svg/svg-product-mobile-03.svg" type="image/svg+xml">
                                    <source media="(min-width: 481px)" srcset="/static/landing/img/svg/svg-product-desktop-03.svg" type="image/svg+xml">
                                    <img loading="lazy" src="/static/landing/img/svg/svg-product-desktop-03.svg" alt="Электродвигатель + преобразователь частоты SYNTHESIS">
                                </picture>
                            </div>
                        </div>
                        <div class="card__button">
                            <svg viewBox="0 0 46 37" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M27.3704 0.666687L45.2197 18.6665L27.3704 36.6667L25.4954 34.7759L40.1439 20.0036H0.219727V17.3295H40.1439L25.4954 2.55753L27.3704 0.666687Z" />
                            </svg>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>