<!-- Основные достиженияи  -->
<section class="section stream achievements" data-table="sections" data-id="{{ achievements.id }}">
    <div class="container">
        <div class="section__header">
            <div data-field="title" class="title" contenteditable="true">
                {% if achievements.title %} {{ achievements.title }}
                {% else %} <small>Здесь пока пусто...</small>
                {% endif %}
            </div>
        </div>
        <div class="section__body">
            <div class="grid-group">
                {% for achievement in achievements.achievements %}
                <div class="grid-child" data-grid="4" data-table="{{ achievement.table_name }}" data-id="{{ achievement.id }}">
                    <div class="card-column border-left auto">
                        <!-- Форма для загрузки изображения -->
                        {% if not achievement.image_desktop or not achievement.image_mobile %}
                            <div class="attach-images">
                                <form class="js-upload-image" enctype="multipart/form-data">
                                    <fieldset>
                                        {% if not achievement.image_desktop %}
                                            <label for="image_desktop">
                                                <input type="radio" name="image_type" value="image_desktop" checked>
                                                <small>Тип ПК</small>
                                            </label>
                                        {% endif %}
                                        {% if not achievement.image_mobile %}
                                            <label for="image_mobile">
                                                {% if achievement.image_desktop %}
                                                    <input type="radio" name="image_type" value="image_mobile" checked>
                                                    {% else %} <input type="radio" name="image_type" value="image_mobile">
                                                {% endif %}
                                                <small>Тип Мобильные</small>
                                            </label>
                                        {% endif %}
                                            <label for="image">
                                                <input type="file" name="image" accept="image/jpeg, image/png, image/svg+xml, image/webp">
                                            </label>
                                    </fieldset>
                                    <button class="button small" type="submit">Сохранить</button>
                                </form>
                            </div>
                        {% endif %}
                        <!-- Блок для отображения прикрепленных изображений -->
                        <div class="attached-images">
                            {% if achievement.image_desktop or achievement.image_mobile %}
                                <div class="js-image-alt">
                                    <small>Зачение атрибута alt</small>
                                    <div data-field="image_alt" contenteditable="true">
                                        {% if achievement.image_alt %} {{ achievement.image_alt }}
                                        {% else %} alt не указан
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if achievement.image_desktop %}
                                <figure>
                                    <img loading="lazy" src="{{ achievement.image_desktop }}">
                                    <figcaption>Картинка ПК</figcaption>
                                </figure>
                                <button 
                                    class="js-update-image"
                                    data-type="image_desktop"
                                    data-action="image_delete"
                                    data-src="{{ achievement.image_desktop }}">Удалить
                                </button>
                                <button 
                                    class="js-update-image"
                                    data-type="image_desktop"
                                    data-action="image_refresh"
                                    data-src="{{ achievement.image_desktop }}">Заменить
                                </button>
                            {% endif %}
                            {% if achievement.image_mobile %}
                                <figcaption>
                                    <img loading="lazy" src="{{ achievement.image_mobile }}">
                                    <figcaption>Картинк для Мобильных</figcaption>
                                </figcaption>
                                <button
                                    class="js-update-image"
                                    data-type="image_mobile"
                                    data-action="image_delete"
                                    data-src="{{ achievement.image_mobile }}">Удалить
                                </button>
                                <button
                                    class="js-update-image"
                                    data-type="image_mobile"
                                    data-action="image_refresh"
                                    data-src="{{ achievement.image_mobile }}">Заменить
                                </button>
                            {% endif %}
                        </div>
                        <div class="card-column__header">
                            <div data-field="title" contenteditable="true">
                                {% if achievement.title %} {{ achievement.title }}
                                {% else %} <small>Здесь пока пусто...</small>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-column__body">
                            <div data-field="description" contenteditable="true">
                                {% if achievement.description %} {{ achievement.description }}
                                {% else %} <small>Здесь пока пусто...</small>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-column__footer">
                            <button class="button small red js-delete-instance">Удалить карточку</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="grid-child" data-grid="4">
                    <div class="card-column auto">
                        <button class="button add-instance js-add-instance" data-table="achievements">Добавить экземпляр</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section__footer">
        </div>
    </div>
</section>

<style>
    .attach-images fieldset {
        display: flex;
        flex-direction: column;
    }
    .attached-images img {
        width: 260px;
        height: 260px;
        object-fit: cover;
        object-position: 50%;
        overflow: hidden;
    }
    input[type="text"] {
        background-color: gainsboro;
    }
    [type="submit"] {
        
    }
    [contenteditable="true"] {
        padding: 0.4em;
        border: 1px solid burlywood;
        background-color: #f2f2f2 !important;
        color: var(--blue) !important;
    }
    [contenteditable="true"]:focus {
        padding: 0.4em;
        border: 1px solid var(--blue);
        background-color: white;
    }
    .admin .button {
        height: auto;
        padding-inline: 1.4em;
        border-radius: 0.4em;
        background-color: var(--blue);
        font-size: 1em;
    }
    .admin .button:hover {
        background-color: var(--black);
    }
    .admin .button.medium {
        font-size: 14px;
        padding: 1.4em;
    }
    .admin .button.small {
        padding: 0.6em;
        font-size: 0.8em;
    }
    .admin .button.red {
        background-color: #f27474;
    }
    .admin .button.add-instance {
        height: 290px;
        background-color: #f2f2f2;
        color: var(--black);
    }
    .admin .button.add-instance:hover {
        background-color: #e3e3e3;
    }
    .admin .card__header a::after {
        display: none;
    }
    
</style>