<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="theme-color" content="#070707">
    <meta name="apple-mobile-web-app-title" content="npk">
    <meta name="application-name" content="npk">

    <meta name="title" content="">
    <meta name="description" content="">
    <title>Админка</title>

    <link rel="stylesheet" href="/static/landing/css/main.css">
</head>

<body>
    <div id="up" class="visually-hidden"></div>
    <header id="header" class="header">
        <div class="container">
            <div class="header__content">
                <div class="header__lines">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="header__logo">
                    <a class="logo" href="#">
                        <img loading="lazy" src="/static/landing/img/svg/svg-logo-white.svg" alt="Национальная приводная компания">
                    </a>
                    <div class="header__logo-tagline">производство частотных <br>преобразователей</div>
                </div>
            </div>
        </div>
    </header>

    <main>
        
        {% include "sections/hero.html" %}
        {% include "sections/section_01.html" %}

    </main>

    <script src="/static/landing/js/main.bundle.js"></script>
</body>

</html>